.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding-bottom: 0;
}

.features .list {
  padding: 0;
}
.features.features__item {
  width: 270px;
}
.features p {
  margin-bottom: 0;
  margin-top: 0;
}

.features__title {
  color: getColor('title');

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.features__item,
.projects__item:not(:first-child) {
  margin-left: 30px;
}

.features__bg {
  display: flex;
  background-color: getColor('team-background');
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
