.our-clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('title');
  margin-bottom: 30px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.clients__list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.clients__list-link {
  display: flex;
  justify-content: center;

  width: 226px;
  height: 92px;
  border: 1px solid getColor('icon');
  border-radius: 4px;
  padding: 16px 32px;
  color: getColor('icon');
  transition: border 250ms getAnimations('animation-style');
}
.clients__list-icon {
  fill: currentColor;
  transition: fill 250ms getAnimations('animation-style');
}
.clients__list-link:hover .clients__list-icon,
.clients__list-link:focus .clients__list-icon {
  fill: getColor('accent');
}
.clients__list-link:hover,
.clients__list-link:focus {
  border: 1px solid getColor('accent');
}
