.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: getColor('backdrop');
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .hero__modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  width: 528px;
  max-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250 ms;

  background: getColor('wite');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-color: getColor('wite');
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms getAnimations('animation-style');
}
.modal__btn:hover {
  fill: getColor('accent');
}
.modal__form {
  text-align: left;
}
.modal__form-field,
.modal__input {
  position: relative;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: getColor('main-text');
  margin-bottom: 10px;
}

.modal__form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms getAnimations('animation-style');
}
.modal__form-field {
  input {
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
    height: 40px;
    padding-left: 47px;
    transition: outline-color 250ms getAnimations('animation-style');
  }
}
.modal__form-field {
  textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
    padding: 12px 16px;
    transition: outline-color 250ms getAnimations('animation-style');
  }
}

input:focus + .modal__form-icon {
  fill: getColor('accent');
}
input:focus,
textarea:focus {
  outline-color: getColor('accent');
}
.modal__form {
  b {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title');
    margin-bottom: 12px;
  }
}
.modal__form-name {
  margin-bottom: 4px;
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal__agreement-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transition: background-image 2500ms getAnimations('animation-style');
}

.modal__agreement span,
a {
  color: getColor('accent');
}

.modal__agreement {
  input {
    margin-right: 9px;
  }
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__icon-check {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms getAnimations('animation-style');
}
.modal__icon-check {
  fill: transparent;
}
.modal__checkbox:checked + .modal__agreement-text .modal__icon-check {
  border: none;
  background-color: getColor('accent');
}
.modal__checkbox:checked + .modal__agreement-text .modal__icon-check {
  fill: getColor('wite');
}

.modal__form {
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 55px;
    background-color: getColor('accent');
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: getColor('wite');
    transition: background-color 250ms getAnimations('animation-style');
  }
}
.modal__form button:hover {
  background-color: getAnimations('button-hover');
}
