.hero,
.footer {
  background-color: getColor('hero-footer');
}
.hero {
  padding: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url(../img/index-images/);
}
.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/index-images/hero-cover.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: getColor('wite');

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  background-color: getColor('accent');
  color: getColor('wite');

  cursor: pointer;
  transition: background-color 250ms getAnimations('animation-style');
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
}
.hero__button:hover {
  background-color: getColor('button-hover');
}
