.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
.tablet-container {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}
.footer__address {
  display: flex;
  flex-direction: column;
  padding-left: 61px;

  a {
    padding: 0;
  }
}

.footer .footer-address__logo-link {
  margin-bottom: 20px;
}

.address .list {
  padding-left: 0;
}
.footer-address__logo-link--studio {
  color: getColor('wite');

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.list-address {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 0;
}
.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__address-link {
  color: getColor('wite');

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}
.footer__address-contacts {
  color: getColor('footer-contacts');

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: getColor('wite');
}
.footer-contacts:focus {
  color: getColor('wite');
}
