.subscribe {
  margin-left: auto;
}
.subscribe {
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('wite');
    margin-bottom: 20px;
  }
}

.subscribe {
  input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    outline: none;

    background-color: getColor('hero-footer');
    color: getColor('footer-contacts');
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 14px;
    transition: outline-color 250ms getAnimations('animation-style');
  }
}
.subscribe {
  input:focus {
    border-color: getColor('accent');
  }
}
.subscribe {
  button {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: getColor('accent');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: getColor('wite');
    padding: 10px 28px;
    margin-left: 12px;
    cursor: pointer;
    transition: background-color 250ms getAnimations('animation-style');
  }
}
.subscribe {
  button:hover {
    background-color: getColor('button-hover');
  }
}
.subscribe {
  svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
