.header__contacts {
  display: flex;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 0;
}
.header__contacts {
  color: getColor('main-text');
  transition: color 250ms getAnimations('animation-style');
}
.header__contacts:hover,
.header__contacts:focus {
  color: getColor('accent');
  fill: getColor('accent');
}
.header__nav {
  margin-left: 84px;
  margin-bottom: 21px;
  margin-top: 21px;
  padding: 0;
}
.header__nav .list:not(:last-child) {
  margin-bottom: 10px;
}
.navgation__link:hover,
.navgation__link:focus {
  color: getColor('accent');
}

.header__icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: -1px;
  fill: currentColor;
}
