.portfolio-buttons-list {
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 50px;
}

.portfolio-buttons-list__button {
  background: getColor('team-background');
  border-radius: 4px;
  border: 0;

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  margin-right: 8px;
  padding: 6px 20px;
  transition: background-color 250ms getAnimations('animation-style'),
    color 250ms getAnimations('animation-style');
}

.portfolio-buttons-list__button:hover,
.portfolio-buttons-list__button:focus {
  background-color: getColor('accent');
  color: getColor('wite');
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms getAnimations('animation-style');
}
