.our-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('title');
  margin-bottom: 50px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: inline-block;
  justify-content: center;

  border: 1px solid getColor('icon');
  border-radius: 4px;
  padding: 16px 32px;
  color: getColor('icon');
  transition: border 250ms getAnimations('animation-style');
}
.clients-icon {
  fill: currentColor;
  transition: fill 250ms getAnimations('animation-style');
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: getColor('accent');
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid getColor('accent');
}
