.header__contacts {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header__contacts {
  color: getColor('main-text');
  transition: color 250ms getAnimations('animation-style');
}
.header__contacts:hover,
.header__contacts:focus {
  color: getColor('accent');
  fill: getColor('accent');
}
.header__nav {
  display: none;

  margin-left: auto;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    a {
      padding: 0;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header__nav .list:not(:first-child) {
  margin-left: 50px;
  @media screen and(min-width:768px) {
    margin-left: 0;
    margin-top: 10px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 50px;
    margin-top: 0;
  }
}
.navgation__link:hover,
.navgation__link:focus {
  color: getColor('accent');
}
// @media screen and(min-width:1200px) {
//   .navgation__link {
//     margin-left: 15px;
//   }
// }
.header__icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: -1px;
  fill: currentColor;
}
