.header {
  width: 100%;
  background-color: getColor('wite-color');
  border-bottom: 1px solid #ececec;
  a {
    padding-bottom: 32px;
    padding-top: 32px;
    @media screen and(min-width:768px) {
      padding-bottom: 26px;
      padding-top: 26px;
    }
  }
}

.header .list {
  padding-left: 0;
}

.header__container {
  height: 59px;

  padding-left: 15px;
  @media screen and(min-width:768px) {
    height: 80px;
  }
  @media screen and(min-width:1200px) {
    height: 78.75px;
  }
}
.header__container,
.navigation,
.list {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.header__container {
  padding-left: 15px;
}
